@charset "UTF-8";
/**
  Нормализация блочной модели
 */
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Упрощаем работу с изображениями
 */
img {
  display: block;
  max-width: 100%;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
  /**
    Плавный скролл
   */
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Приводим к единому цвету svg-элементы
 */
svg *[fill] {
  fill: currentColor;
}

svg *[stroke] {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  -webkit-transition-property: fill, stroke;
  transition-property: fill, stroke;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.content {
  display: none;
}

.loader {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background: -webkit-gradient(linear, left top, right top, from(#868f96), to(#596164));
  background: linear-gradient(to right, #868f96 0%, #596164 100%);
}

#nuotron {
  top: 50%;
  left: 50%;
  width: 84px;
  height: 84px;
  margin-top: -42px;
  margin-left: -42px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

#nuotron,
#nuotron *,
#nuotron *:before {
  display: block;
  position: absolute;
}

#nuotron .ellipse,
#nuotron .dot {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

#nuotron .ellipse {
  border: 18px solid #f6f930;
  border-radius: 50%;
}

#nuotron .dot {
  -webkit-animation: dotRotate 4.8s linear infinite;
          animation: dotRotate 4.8s linear infinite;
}
#nuotron .dot:before {
  content: "";
  top: -42px;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-radius: 50%;
  background-color: #f6f930;
  -webkit-animation: dotEffect 1.2s ease-in-out infinite;
          animation: dotEffect 1.2s ease-in-out infinite;
}
@-webkit-keyframes dotEffect {
  top: 102px;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}
@keyframes dotEffect {
  50% {
    top: 102px;
  }
  0%, 50%, 100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  25% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  75% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
}
@-webkit-keyframes dotRotate {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}
@keyframes dotRotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@-webkit-keyframes nav-fadeIn {
  0% {
    right: -20rem;
  }
  100% {
    right: 2%;
  }
}
@keyframes nav-fadeIn {
  0% {
    right: -20rem;
  }
  100% {
    right: 2%;
  }
}
@-webkit-keyframes arrow-fadeIn {
  0% {
    opacity: 0;
    scale: 0;
  }
  60% {
    scale: 1.2;
  }
  100% {
    opacity: 1;
    scale: 1;
  }
}
@keyframes arrow-fadeIn {
  0% {
    opacity: 0;
    scale: 0;
  }
  60% {
    scale: 1.2;
  }
  100% {
    opacity: 1;
    scale: 1;
  }
}
@-webkit-keyframes lights-txt {
  0% {
    color: hsl(230, 40%, 80%);
    text-shadow: 0 0 1em hsla(320, 100%, 50%, 0.2), 0 0 0.125em hsla(320, 100%, 60%, 0.3), -1em -0.125em 0.5em hsla(40, 100%, 60%, 0), 1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
  }
  30% {
    color: hsl(230, 80%, 90%);
    text-shadow: 0 0 1em hsla(320, 100%, 50%, 0.5), 0 0 0.125em hsla(320, 100%, 60%, 0.5), -0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2), 0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
  }
  40% {
    color: hsl(230, 100%, 95%);
    text-shadow: 0 0 1em hsla(320, 100%, 50%, 0.5), 0 0 0.125em hsla(320, 100%, 90%, 0.5), -0.25em -0.125em 0.125em hsla(40, 100%, 60%, 0.2), 0.25em 0.125em 0.125em hsla(200, 100%, 60%, 0.4);
  }
  70% {
    color: hsl(230, 80%, 90%);
    text-shadow: 0 0 1em hsla(320, 100%, 50%, 0.5), 0 0 0.125em hsla(320, 100%, 60%, 0.5), 0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2), -0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
  }
  100% {
    color: hsl(230, 40%, 80%);
    text-shadow: 0 0 1em hsla(320, 100%, 50%, 0.2), 0 0 0.125em hsla(320, 100%, 60%, 0.3), 1em -0.125em 0.5em hsla(40, 100%, 60%, 0), -1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
  }
}
@keyframes lights-txt {
  0% {
    color: hsl(230, 40%, 80%);
    text-shadow: 0 0 1em hsla(320, 100%, 50%, 0.2), 0 0 0.125em hsla(320, 100%, 60%, 0.3), -1em -0.125em 0.5em hsla(40, 100%, 60%, 0), 1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
  }
  30% {
    color: hsl(230, 80%, 90%);
    text-shadow: 0 0 1em hsla(320, 100%, 50%, 0.5), 0 0 0.125em hsla(320, 100%, 60%, 0.5), -0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2), 0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
  }
  40% {
    color: hsl(230, 100%, 95%);
    text-shadow: 0 0 1em hsla(320, 100%, 50%, 0.5), 0 0 0.125em hsla(320, 100%, 90%, 0.5), -0.25em -0.125em 0.125em hsla(40, 100%, 60%, 0.2), 0.25em 0.125em 0.125em hsla(200, 100%, 60%, 0.4);
  }
  70% {
    color: hsl(230, 80%, 90%);
    text-shadow: 0 0 1em hsla(320, 100%, 50%, 0.5), 0 0 0.125em hsla(320, 100%, 60%, 0.5), 0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2), -0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
  }
  100% {
    color: hsl(230, 40%, 80%);
    text-shadow: 0 0 1em hsla(320, 100%, 50%, 0.2), 0 0 0.125em hsla(320, 100%, 60%, 0.3), 1em -0.125em 0.5em hsla(40, 100%, 60%, 0), -1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
  }
}
html {
  font-size: 10px;
}

body {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
}

.content {
  font-size: clamp(16px, 2.0833333333vw, 20px);
}

.wrapper {
  height: 1000rem;
}

.bg {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

.bg-active {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background: url(../img/act-bg01.png) no-repeat center/cover;
  -webkit-perspective: 100rem;
          perspective: 100rem;
}
.bg-active--fog01 {
  background: url(../img/act-bg02.png) no-repeat top;
  position: fixed;
  top: -1rem;
  width: 100vw;
  height: 100vh;
}

.substrate {
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  background: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  position: fixed;
  color: #eee;
  border-radius: 10px;
  text-align: center;
}

.title {
  font-size: clamp(18px, 3.125vw, 30px);
  margin-bottom: 1rem;
  -webkit-animation: lights-txt 4s linear infinite;
          animation: lights-txt 4s linear infinite;
}

.sub-title {
  font-size: clamp(14px, 2.5vw, 24px);
  font-weight: normal;
  color: #aaa;
}

.nav {
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  background: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  font-size: clamp(16px, 1.875vw, 18px);
  margin-right: -3rem;
  position: fixed;
  bottom: 5%;
  right: 2%;
  color: #eee;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  z-index: 1000;
  -webkit-animation: nav-fadeIn 0.8s linear;
          animation: nav-fadeIn 0.8s linear;
}
.nav__list {
  padding: 1rem 6rem 1rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  text-align: right;
}
.nav__list-item {
  margin-block: 0.7rem;
  color: inherit;
  text-decoration: none;
}
.nav__list-btn {
  cursor: pointer;
  color: currentColor;
  background: transparent;
  border: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-animation: lights-txt 4s linear infinite;
          animation: lights-txt 4s linear infinite;
}
.nav__list-btn:hover, .nav__list-btn:focus-visible {
  scale: 1.2;
}
.nav__list-btn:active {
  scale: 1.3;
}
.nav__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  bottom: 7%;
  right: 20rem;
}
.nav__btn {
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  background: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  position: relative;
  padding: 1rem;
  border-radius: 50%;
  color: #eee;
  font-size: 2.4rem;
  cursor: pointer;
  opacity: 0;
  scale: 0;
  -webkit-animation: arrow-fadeIn 0.5s linear 0.8s forwards;
          animation: arrow-fadeIn 0.5s linear 0.8s forwards;
}
.nav__btn-icon {
  -webkit-filter: invert(1);
          filter: invert(1);
  text-align: center;
}
.nav__btn--down {
  margin-bottom: 1rem;
  rotate: -90deg;
}
.nav__btn--up {
  rotate: 90deg;
}
.nav__btn:active {
  border: 1px solid rgba(255, 255, 255, 0.8);
}

.hero__body {
  padding: 4rem 6rem;
  display: block;
  max-width: 90rem;
  top: 30%;
  left: 10%;
  color: #eee;
  z-index: 10;
}

.about__body {
  padding: 4rem 6rem;
  width: 70vw;
  left: 5%;
  top: 60%;
}
.about__block-img {
  padding: 0;
  top: 6%;
  left: 60%;
  z-index: 9;
}
.about__img {
  padding: 3rem 4rem 0;
  -webkit-filter: drop-shadow(0px 0px 50px #222) brightness(85%);
          filter: drop-shadow(0px 0px 50px #222) brightness(85%);
}