@charset "UTF-8";
/**
  Нормализация блочной модели
 */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Упрощаем работу с изображениями
 */
img {
  display: block;
  max-width: 100%;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
  /**
    Плавный скролл
   */
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Приводим к единому цвету svg-элементы
 */
svg *[fill] {
  fill: currentColor;
}

svg *[stroke] {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  -webkit-transition-property: fill, stroke;
  transition-property: fill, stroke;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.wrapper {
  height: 10000px;
}

.bg {
  position: fixed;
  height: 100%;
}

.nav {
  margin-right: -30px;
  padding: 10px 80px 10px 10px;
  position: fixed;
  bottom: 5%;
  right: 2%;
  color: #eee;
  background: rgba(255, 255, 255, 0.1);
  background-image: -webkit-gradient(linear, left top, left bottom, from(hsla(0, 0%, 0%, 0.2)), to(hsla(0, 0%, 0%, 0)));
  background-image: linear-gradient(hsla(0, 0%, 0%, 0.2), hsla(0, 0%, 0%, 0));
  -webkit-box-shadow: 0 -0.125em 0.25em hsla(0, 0%, 0%, 0.1), 0 0.25em 0.25em hsla(33, 90%, 90%, 0.2), 0 0 0 0.25em hsla(33, 90%, 90%, 0.2), 0 0.375em 0.5em hsla(33, 90%, 90%, 0.2) inset, 0 -0.125em 0.375em hsla(33, 90%, 90%, 0.2) inset, 0 -1.25em 2em 0.5em hsla(33, 90%, 90%, 0.1) inset, 0 0.15em 0 hsla(33, 90%, 90%, 0.1) inset, 0 5em 3em hsla(0, 0%, 0%, 0.2);
          box-shadow: 0 -0.125em 0.25em hsla(0, 0%, 0%, 0.1), 0 0.25em 0.25em hsla(33, 90%, 90%, 0.2), 0 0 0 0.25em hsla(33, 90%, 90%, 0.2), 0 0.375em 0.5em hsla(33, 90%, 90%, 0.2) inset, 0 -0.125em 0.375em hsla(33, 90%, 90%, 0.2) inset, 0 -1.25em 2em 0.5em hsla(33, 90%, 90%, 0.1) inset, 0 0.15em 0 hsla(33, 90%, 90%, 0.1) inset, 0 5em 3em hsla(0, 0%, 0%, 0.2);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border-top-left-radius: 7.777777px;
  border-bottom-left-radius: 7.777777px;
  z-index: 1;
}
.nav__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  bottom: 7%;
  right: 250px;
}
.nav__btn {
  position: relative;
  padding: 5px 10px;
  background: rgba(255, 255, 255, 0.1);
  background-image: -webkit-gradient(linear, left top, left bottom, from(hsla(0, 0%, 0%, 0.2)), to(hsla(0, 0%, 0%, 0)));
  background-image: linear-gradient(hsla(0, 0%, 0%, 0.2), hsla(0, 0%, 0%, 0));
  -webkit-box-shadow: 0 -0.125em 0.25em hsla(0, 0%, 0%, 0.1), 0 0.25em 0.25em hsla(33, 90%, 90%, 0.2), 0 0 0 0.25em hsla(33, 90%, 90%, 0.2), 0 0.375em 0.5em hsla(33, 90%, 90%, 0.2) inset, 0 -0.125em 0.375em hsla(33, 90%, 90%, 0.2) inset, 0 -1.25em 2em 0.5em hsla(33, 90%, 90%, 0.1) inset, 0 0.15em 0 hsla(33, 90%, 90%, 0.1) inset, 0 5em 3em hsla(0, 0%, 0%, 0.2);
          box-shadow: 0 -0.125em 0.25em hsla(0, 0%, 0%, 0.1), 0 0.25em 0.25em hsla(33, 90%, 90%, 0.2), 0 0 0 0.25em hsla(33, 90%, 90%, 0.2), 0 0.375em 0.5em hsla(33, 90%, 90%, 0.2) inset, 0 -0.125em 0.375em hsla(33, 90%, 90%, 0.2) inset, 0 -1.25em 2em 0.5em hsla(33, 90%, 90%, 0.1) inset, 0 0.15em 0 hsla(33, 90%, 90%, 0.1) inset, 0 5em 3em hsla(0, 0%, 0%, 0.2);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border: none;
  border-radius: 7.777777px;
  color: #eee;
  font-size: 24px;
}
.nav__btn--down {
  rotate: -90deg;
}
.nav__btn--up {
  rotate: -90deg;
}
.nav__list-item {
  color: inherit;
  text-decoration: none;
  font-size: 20px;
}

.main__body {
  padding: 20px;
  border-radius: 7.777777px;
  display: block;
  max-width: 900px;
  position: fixed;
  top: 30%;
  left: 10%;
  color: #eee;
  background: rgba(255, 255, 255, 0.1);
  background-image: -webkit-gradient(linear, left top, left bottom, from(hsla(0, 0%, 0%, 0.2)), to(hsla(0, 0%, 0%, 0)));
  background-image: linear-gradient(hsla(0, 0%, 0%, 0.2), hsla(0, 0%, 0%, 0));
  -webkit-box-shadow: 0 -0.125em 0.25em hsla(0, 0%, 0%, 0.1), 0 0.25em 0.25em hsla(33, 90%, 90%, 0.2), 0 0 0 0.25em hsla(33, 90%, 90%, 0.2), 0 0.375em 0.5em hsla(33, 90%, 90%, 0.2) inset, 0 -0.125em 0.375em hsla(33, 90%, 90%, 0.2) inset, 0 -1.25em 2em 0.5em hsla(33, 90%, 90%, 0.1) inset, 0 0.15em 0 hsla(33, 90%, 90%, 0.1) inset, 0 5em 3em hsla(0, 0%, 0%, 0.2);
          box-shadow: 0 -0.125em 0.25em hsla(0, 0%, 0%, 0.1), 0 0.25em 0.25em hsla(33, 90%, 90%, 0.2), 0 0 0 0.25em hsla(33, 90%, 90%, 0.2), 0 0.375em 0.5em hsla(33, 90%, 90%, 0.2) inset, 0 -0.125em 0.375em hsla(33, 90%, 90%, 0.2) inset, 0 -1.25em 2em 0.5em hsla(33, 90%, 90%, 0.1) inset, 0 0.15em 0 hsla(33, 90%, 90%, 0.1) inset, 0 5em 3em hsla(0, 0%, 0%, 0.2);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  z-index: 2;
}