.wrapper
  height: 10000px
.bg
  position: fixed
  width: 100vw
  height: 100vh
  z-index: -1

.bg-active
  width: 100vw
  height: 100vh
  position: fixed
  background: url(../img/act-bg01.png) no-repeat center / cover
  perspective: 1000px

  &--fog01
    background: url(../img/act-bg02.png)
    position: fixed
    top: -10px
    width: 100vw
    height: 100vh

// Навигация 
  // Анимация навигации
@keyframes nav-fadeIn
  0%
    right: -200px
  100%
    right: 2%
  // Анимация появления кнопок стрелочек
@keyframes arrow-fadeIn
  0%
    opacity: 0
    scale: 0
  60%
    scale: 1.2
  100%
    opacity: 1
    scale: 1
  
.nav
  @include glass-bg

  margin-right: calc( 30px * -1 )
  position: fixed
  bottom: 5%
  right: 2%
  color: $c-light
  border-top-left-radius: $border-radius
  border-bottom-left-radius: $border-radius
  z-index: 10
  animation: nav-fadeIn .8s linear 

  &__list
    padding: 10px 60px 10px 20px
    display: flex
    flex-direction: column-reverse
    text-align: right
    &-item
      margin-block: 7px
      color: inherit
      text-decoration: none
      font-size: 16px
    &-btn
      cursor: pointer
      color: currentColor
      background: transparent
      border: none
      transition: all .3s
      &:hover, &:focus-visible
        scale: 1.2
      &:active
        scale: 1.3
  &__btns
    display: flex
    flex-direction: column
    position: fixed
    bottom: 7%
    right: 200px

  &__btn
    @include glass-bg

    position: relative
    padding: 10px
    border-radius: 50%
    color: $c-light
    font-size: 24px
    cursor: pointer
    opacity: 0
    scale: 0
    animation: arrow-fadeIn .5s linear .8s forwards
    &-icon
      filter: invert(1)
      text-align: center
    &--down
      margin-bottom: 10px
      rotate: -90deg
    &--up
      rotate: 90deg
    &:active
      border: 1px solid rgba(255,255,255,0.8)

// Main
.main
  &__body
    @include glass-bg

    padding: 20px
    border-radius: $border-radius
    display: block
    max-width: 900px
    position: fixed
    top: 30%
    left: 10%
    color: $c-light
    z-index: 2
