@mixin glass-bg
  background-image: linear-gradient(hsla(0,0%,0%,0.2),hsla(0,0%,0%,0))
  box-shadow: 0 -0.06em 0.125em hsla(0,0%,0%,0.1), 0 0.125em 0.125em hsla(33,90%,90%,0.2), 0 0 0 0.125em hsla(33,90%,90%,0.2), 0 0.375em 0.5em hsla(33,90%,90%,0.2) inset, 0 -0.06em 0.375em hsla(33,90%,90%,0.2) inset, 0 -1.25em 2em 0.5em hsla(33,90%,90%,0.1) inset, 0 0.15em 0 hsla(33,90%,90%,0.1) inset, 0 5em 3em hsla(0,0%,0%,0.2)
  backdrop-filter: blur(12px)
  -webkit-backdrop-filter: blur(12px)
