@-webkit-keyframes fadeInBlock {
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes fadeInBlock {
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
.mainSubtitle {
  max-width: 40%;
  margin: 8rem 0 0 60%;
  color: #dbc490;
  text-align: center;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  opacity: 0;
  -webkit-animation: fadeInBlock 2s linear 4s forwards;
          animation: fadeInBlock 2s linear 4s forwards;
}