@-webkit-keyframes fadeInBlock {
  100% {
    opacity: 1;
    -webkit-transform: scale(1) translateX(0rem);
            transform: scale(1) translateX(0rem);
  }
}
@keyframes fadeInBlock {
  100% {
    opacity: 1;
    -webkit-transform: scale(1) translateX(0rem);
            transform: scale(1) translateX(0rem);
  }
}
.mainSubtitle {
  max-width: 40%;
  margin: 16rem 0 0 60%;
  color: #dbc490;
  text-align: center;
  -webkit-transform: scale(0) translateX(100rem);
      -ms-transform: scale(0) translateX(100rem);
          transform: scale(0) translateX(100rem);
  opacity: 0;
  -webkit-animation: fadeInBlock 1s linear 4s forwards;
          animation: fadeInBlock 1s linear 4s forwards;
}