// Обо мне
.about
  &__body
    padding: 1rem 6rem 0
    display: flex
    justify-content: space-between
    align-items: end
    width: 70vw
    height: 70vh
    left: 5%
    top: 15%

  &__img
    object-fit: contain
    padding: 3rem 5rem 0
    filter: drop-shadow(0px 0px 30px #222) brightness(76%)

  &__description

.point
  display: inline-block
  width: 1.5rem
  height: 1.5rem
  background: $c-accent
  border-radius: 50%
  box-shadow: 0 0 5px 3px #fff
  animation: flash-point 1s linear alternate infinite

  &-block
    display: flex
    align-items: center
    justify-content: right
    column-gap: 2rem

.line
  display: block
  margin-inline: 98%
  width: .2rem
  height: calc( 14% * 2 )
  background: $c-accent
  box-shadow: 0 0 1px 1px #fff
  border-radius: 20%

  &:nth-child(n+3)
    height: 14%

  &:last-child::after
    content: "fff"

  &-block
    min-width: 20rem
    height: 90%
    padding-bottom: 4rem
