// Обо мне
.about
  &__body
    @include padding-block

    width: 70vw
    left: 5%
    top: 60%

  &__block-img
    padding: 0
    top: 6%
    left: 60%
    z-index: 9
  &__img
    padding: 3rem 4rem 0
    filter: drop-shadow(0px 0px 50px #222) brightness(85%)
