@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:ital,wght@0,1..1000;1,1..1000&display=swap');

body {
  margin: 0;
  background-color: #333;
  font-family: "Sofia Sans", sans-serif;
}