.nav
  display: flex
  flex-direction: column
  
  &__list
    padding-block: 1rem
    width: 45vw
    display: flex
    justify-content: space-evenly
    align-items: center
  
  &__link
    padding-block: .2rem

.row
  display: flex